

* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.vacio{
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: white;
}

.lleno{
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.agarrado{
    border: solid 5px #ccc;
}

.hover{
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media (max-width: 800px  ) {
    body{
        flex-direction: column;
    }
}
