@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --border-color: #144fc6;
    --color-lleno:#6ab3f8;
}

*{
    box-sizing: border-box;
}
body{
    background-color: #3494e4;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;
    overflow: hidden;
    margin: 0;*/
    margin-bottom: 40px;
}

h1{
    margin: 10px 0 0;
}

h3{
    font-weight: 400;
    margin: 10px 0;
}

.vaso{
    background-color: white;
    border: 4px solid var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 40px 40px;
    height: 330px;
    width: 150px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.vaso.vaso-s{
    width: 50px;
    height: 95px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(255, 255, 255, .9);
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: .3s ease;
}

.vaso.vaso-s.full{
    background-color: var(--color-lleno);
    color: white;
}

.vasos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.falta{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    transition: 0.3s ease;
}

.falta span{
    font-size: 20px;
    font-weight: bold;
}

.falta small{
    font-size: 12px;
}

.porcentaje{
    background-color: var(--color-lleno);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 0;
    transition: 0.3s ease;
}

.texto{
    text-align: center;
    margin: 0 0 5px;
}

